/*commento*/
/*
https://www.w3schools.com/colors/colors_names.asp
*/
/*
https://www.w3schools.com/howto/howto_google_fonts.asp
*/


/*header*/
header {
}

/*banner*/
.background-banner{
	background-attachment: scroll;
	background-image: url(../img/layout/banner2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*background*/
body.main{
	background-image: url(../img/layout/background-2.jpg);
	background-repeat: repeat;
	background-position: center;
}
html, body{
	margin: 0px;
}


/*navbar + footer*/
nav, footer {
}

/*active page in navbar*/
.active-page {
	font-weight:bold;
}

/*div*/
div {
}
section {
	max-width: 850px;
	margin: auto;
}

/*aside class="d-block mx-auto float-sm-end"*/
aside {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  margin: 5px;
  font-style: italic;
  text-align: center;
  background-color: lightgray;
  border: double;
  border-color: gray;
}
/*back to top*/
#backtotop {
	display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 80px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 2; /* Make sure it does not overlap */
  border: gold;
  border-style: solid;
  background-color: white; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}
#backtotop:hover {
  background-color: gold; /* Add a dark-grey background on hover */
}
/*back to top*/
#breadcrumb {
	position: fixed; /* Fixed/sticky position */
  bottom: 20px;
  right: 20px;
  z-index: 3; /* Make sure it does not overlap */
}
.index-aside{

}

/*next or previous page*/
div.nav-arrows{
	z-index: 2;
	position: fixed; /* Fixed/sticky position */
	bottom: 1%;
  right: 40%;
  width: 20%;
}
button.nav-arrows{
	margin: 5px;
	padding: 10px;
	border:  #6cc3f9;
  border-style: solid;
  background-color: #ceebfd; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
}
button.nav-arrows > img{
	width: 30px;
	margin: auto;
}
button.nav-arrows:hover{
	background-color: lightskyblue;
}

/*index for handbooks*/
div.index{

}
ol.index {
    counter-reset: item;
}
ol.index li {
    display: block;
    position: relative;
}
ol.index li:before {
    content: counters(item, ".")")";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px; /* space between number and text */
}
/*ul and ol*/
ol{
}
ul{
}


/*link*/
a {
	cursor:pointer;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a.title{
	font-style: italic;
}

/*span, emphasis and other elements*/
span{
}
strong{
}
abbr{
}

/*rule elements*/

/*quotes, texts and other elements*/
q{
}
q:before {
  content: "«";
}
q:after {
  content: "»";
}
blockquote{
	margin: 2em;
}
cite{
}
cite.rm{
	font-weight: bold;
}
cite.external{
}


/*h1*/
h1 {
	font-size: 60px;
	font-weight: bold;
}
div.title{
	text-align: center;
}
a.title{
}

/*Titles*/
h2{
	font-size: 50px;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: gold;
}
h3{
	font-size: 40px;
	font-weight: bold;
	text-decoration: underline;
}
h4{
	font-size: 30px;
	font-weight: bold;
}
h5{
	font-size: 20px;
	font-weight: bold;
}

/*text*/
p{
	font-size: 1.2em;
	margin-right: 10px;
	margin-left: 10px;
}
p.example-rm:before{
	content: "Example "counter(item)": ";
	counter-increment: item;
	font-weight: bold;
}
p.example-rm{
	margin: 5px;
	padding: 5px;
	font-style: italic;
	border-left: 5px solid black;
	background-color: floralwhite;
}
p.note-rm:before{
	content: "Note: ";
	font-weight: bold;
}
p.note-rm{
	margin: 5px;
	padding: 5px;
	font-style: italic;
	background-color: ivory;
	border: solid black 1px;
	border-radius: 5px;
}
p.option-rm:before{
	content: "Option "counter(item)": ";
	counter-increment: item;
	font-weight: bold;
}
p.option-rm{
	margin: 1px;
	padding: 5px;
	background-color: darkslategray;
	color: white;
}

/*notes popup*/
div.note-mine{
	text-align: center;
	margin: 5px;
	padding: 5px;
	border: groove gray 6px;
	background-color: black;
	color: white;
	z-index: 1;
}
div.note-historical{
	text-align: center;
	margin: 5px;
	padding: 5px;
	border: inset midnightblue 10px;
	background-color:  #e6f2ff;
	z-index: 1;
}
div.note-historical > a {
	color:midnightblue;
}
div.note-historical > a:hover {
	color:indigo;
	text-decoration: underline;
}
div.note-warning{
	font-style: italic;
	text-align: center;
	margin: 5px;
	padding: 5px;
	border: dashed darkgoldenrod 3px;
	background-color: lightgoldenrodyellow;
	background-image: url(../img/layout/warning.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 1;
}
div.note-danger{
	text-align: center;
	color: white;
	margin: 5px;
	padding: 5px;
	border: double #db1414 7px;
	background-color: darkred;
	background-image: url(../img/layout/exclamation-octagon-fill.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 1;
}

/*images*/
img.banner-logo {
	width:80%;
	min-width: 300px;
	max-width: 1000px;
	margin: auto;
}
img.main {
	width: 100%;
	margin: 5px;
}
img.cc{
	height: 2em;
}
/*class="decor d-block mx-auto float-md-end"*/
img.decor {
 	border-style: dotted;
	border-color: darkred;
	width: 100%;
	max-width: 450px;
	margin: 5px;
}
img.decor-sm {
 	border-style: dotted;
	border-color: darkred;
	width: 100%;
	max-width: 200px;
	margin: 5px;
}
img.footer {
	width: 50%;
	position: relative;
	padding-top: 1px;
	left: 25%;
}
/*class="portrait d-block mx-auto float-sm-end"*/
img.portrait {
	width: 100%;
	max-width: 300px;
	margin: 5px;
	border-style: solid;
	border-color: gold;
}
img.weapon{

}

/*back to top (change)*/
img.top {
	float: right;
	width: 60px;
	margin: 15px;
}

/*tables*/
table{
	margin: 5px;
}
table.aside{
	float: right;
}
/*tables' elements*/






/*warning d-block mx-auto*/
em.warning{
}
div.warning{
	background-color: lightgoldenrodyellow;
	background-image: url(../img/layout/warning.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: dashed darkgoldenrod 2px;
	padding: 5px;
	margin: 10px;
	text-align: center;
	min-width: 350px;
	max-width: 1200px;
	width: 90%;
}